<main>
  <section>

    Navigated to: {{ currentPageNumber }}

      <!-- [queryParamPropertyName]="'pagina'" -->
    <!-- <lib-page-navigator
      #pageNavigator
      [labelTranslations]="{
        firstPage: '⏮',
        previousPage: '⏪',
        nextPage: '⏩',
        lastPage: '⏭'
      }"
      [enablePageNumberInputBox]="true"
      (changePage)="onChangePage($event)"
    ></lib-page-navigator> -->

    <lib-page-navigator
      #pageNavigator
      [labelTranslations]="{
        firstPage: 'first',
        previousPage: '«',
        nextPage: '»',
        lastPage: 'last'
      }"
      [enablePageNumberInputBox]="enablePageNumberInputBox"
      (changePage)="onChangePage($event)"
    ></lib-page-navigator>

  </section>
</main>
