<main>
  <section>

    <table >

      <thead>
        <tr>
          <th>PROPERTY 1</th>
          <th>PROPERTY 2</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of collectionPromise | async | getPagePer:pageNumber:limit">
          <td>
            {{ item.property1 }}
          </td>
          <td>
            {{ item.property2 }}
          </td>
        </tr>
      </tbody>

    </table>

      <!-- [queryParamPropertyName]="'pagina'" -->
    <!-- <lib-page-browser
      #pageBrowser
      [labelTranslations]="{
        firstPage: '⏮',
        previousPage: '⏪',
        nextPage: '⏩',
        lastPage: '⏭'
      }"
      [enablePageNumberInputBox]="true"
      (changePage)="onChangePage($event)"
    ></lib-page-browser> -->

      <!-- [queryParamPropertyName]="'pagina'" -->
    <lib-page-browser
      #pageBrowser
      [labelTranslations]="{
        firstPage: 'first',
        previousPage: '«',
        nextPage: '»',
        lastPage: 'last'
      }"
      [enablePageNumberInputBox]="true"
      (changePage)="onChangePage($event)"
    ></lib-page-browser>

  </section>
</main>
